<span class="badge">
  <%= link_to "Edit", edit_submenu_path(@smenu.id), :method => :get, class: "my-link" %>
</span>
<span class="badge">
  <%= link_to "Destroy", submenu_path(@smenu.id), :method => :delete , class: "my-link", data: { confirm: 'Are you sure ?' } %>
</span>