<span class="badge">
  <%= link_to "Edit", edit_genmenu_submenu_path, :method => :get, class: "my-link" %>
</span>
<span class="badge">
  <%= link_to "Destroy", genmenu_submenu_path, :method => :delete , class: "my-link", :confirm => 'Are you sure ?' %>
</span>