<span class="badge">
  <%= link_to "Edit", edit_genmenu_path(gmenu), class: "my-link" %>
</span>
<span class="badge">
  <%= link_to "Destroy", gmenu ,:method => :delete , class: "my-link", :confirm => 'Are you sure ?' %>
</span>