<span class="badge">
  <%= link_to "Edit", edit_genmenu_submenu_path(@gmenu, smenu), class: "my-link" %>
</span>
<span class="badge">
  <%= link_to "Destroy", [@gmenu, smenu] ,:method => :delete , class: "my-link", :confirm => 'Are you sure ?' %>
</span>

<!--
<span class="badge">
  <%#= link_to "Edit", edit_genmenu_submenu_path(@gmenu,smenu), class: "my-link" %>
</span>
<span class="badge">
  <%#= link_to "Destroy", [@gmenu, smenu] ,:method => :delete , class: "my-link", :confirm => 'Are you sure ?' %>
</span> -->