<span class="badge">
  <%= link_to "Edit", edit_submenu_path(smenu), class: "my-link" %>
</span>
<span class="badge">
  <%= link_to "Destroy", smenu ,:method => :delete , class: "my-link", :confirm => 'Are you sure ?' %>
</span>