<!-- <h1>Main menu</h1>

<ul class="unstyled">
	<%# @main_menu_items.each do |item_menu| %>
		<li>
			<%#= link_to item_menu.genmenuname, "#" %>
			<%#  %>
		</li>
	<%# end %>
</ul> -->

<dl>
  <% @gmenus.each do |gmenu| %>
    <dt>
      <%= link_to gmenu.genmenuname, gmenu %> <span class="badge"><%= link_to "Edit", edit_genmenu_path(gmenu), class: "my-link" %></span> <span class="badge"><%= link_to "Destroy", gmenu ,:method => :delete , class: "my-link", :confirm => 'Are you sure ?' %></span>

    </dt>
  <% end %>
</dl>

<p>Create new main menu</p>
<%= link_to "New main menu", new_genmenu_path %>