<h4>Delete files <%= link_to @smc.title, @smc %></h4>

<!--<p>
	<ol class="file-list">
    <%# @assets.each do |opt| %>
      <li>
        <%#= link_to opt.asset_file_name, opt.asset.url %><%#= opt.asset_file_name %>
      </li>
    <%# end %>
	</ol>
</p>-->


<h4>Select files for delete</h4>
<div class="actions">
  <%#= form_for @assets, :html => { multipart: true } do |asset_fields| %>
    <%# unless asset_fields.object.new_record? %>
      <div class="thumb">
        <%#= asset_fields.object.asset_file_name %>
        <%#= link_to image_tag(asset_fields.object.asset.url(:thumb)), asset_fields.object.asset.url(:original) %>
        <%#= asset_fields.check_box :_destroy#, :name => 'assets_attributes[id][_destroy]'
        %>
      </div>
    <%# end %>
  <%# end %>
	
</div>