<h4>Delete files <%= link_to @smc.title, @smc %></h4>

<p>
	<ol class="file-list">
    <% @assets.each do |opt| %>
      <li>
        <%= link_to opt.asset_file_name, opt.asset.url %><%#= opt.asset_file_name %>
      </li>
    <% end %>
	</ol>
</p>