/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

.footer-nav{
	small{
		color: #c6c6c6;
	}
	ul a{
		color: #999999;
		//text-shadow: 0px 0px 0px;
		text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.9);
		text-decoration: none;
	}
	ul a:hover{
		color:#FFF;
	}
	ul li{
		display:inline;
		padding: 10px;
	}
}