// Place all the styles related to the Genmenus controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.big-nemu {

}

.my-sub-menu {
  list-style: none;
}

.my-gen-menu-name {
  position: relative;
  right: 10px;
}

.menu-stack{
  width: 635px;
}

.menu-box {
  display:block;
  width:635px;
}

.menu-block {
  background-color: #EEE;

  width: 305px;
  display:block;
  margin: 5px;
  float:left;
}

.my-typography span{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
}