// Place all the styles related to the Genmenus controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.big-nemu {

}

.my-sub-menu {
  list-style: none;
}

.my-gen-menu-name {
  position: relative;
  right: 10px;
}

.menu-block {

}

.my-typography span{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
}