// Place all the styles related to the SmContents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hero-unit-my{

}

.hero-unit-foot{

}

.text{
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;
	color: inherit;
}

.sm-content-show{
	-webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.section_content_block{
	margin-bottom: 0px;
	border-bottom:1px solid #e8e8e8;
	margin-bottom:-1px;

	//-webkit-box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.3);
	//-moz-box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.3);
	//box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.3);

  //-webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  //-moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  //box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);

	//border-top:1px solid #e8e8e8;
	border-left:1px solid #e8e8e8;
	border-right:1px solid #e8e8e8;
}

.text-block {
	min-height: 100px;
	max-height: 200px;
	position:relative;
	font:12px arial;
	//padding:10px;
	//margin:5px;
	overflow: hidden;
	padding-left: 10px;
	padding-right:10px;
}

.text-block2 {
	min-height: 100px;
	position:relative;
	font:12px arial;
	//padding:10px;
	//margin:5px;
	overflow: hidden;
	padding-left: 10px;
	padding-right:10px;
}

.file-list{
	//list-style:none;
	//margin-left:16px;
	list-style-type:circle;
	//padding-left:10px;
	//padding-right:10px;
	//padding:0px;
	//margin:15px;
	//font-size: 13px;
	//line-spacing:1px;
	display:inline-block;
	vertical-align:top;
	padding-left:0px;
	margin-left:15px;
	margin-right:20px;
	margin-bottom:0px;
	width:45%;
}

.file-line{
	font-size: 13px;
	line-height: 15px;
	word-wrap: break-word;
	//width:350px;
}

.dropdown_box{
	display: none;
}

.shadow_content_block{
	//-webkit-box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.3);
	//-moz-box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.3);
	//box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.3);

	//-webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	//-moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	//box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	//width:100%;
	//height:6px;
}

.content-block{
	-webkit-box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.09);
	-moz-box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.09);
	box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.09);
}

.well-box-my {
  min-height: 20px;

  margin-bottom: 20px;
  /*background-color: whitesmoke;*/
  border: 1px solid #f3f3f3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;

  -webkit-box-shadow:  0 1px 1px rgba(0, 0, 0, 0.03);
  -moz-box-shadow:  0 1px 1px rgba(0, 0, 0, 0.03);
  box-shadow:  0 1px 1px rgba(0, 0, 0, 0.03);

  .well-head-my, .well-center-my{
    padding-left: 19px;
    padding-bottom: 19px;
    padding-right: 19px;
  }
}

.well-head-my{
  background: #fEfEfE;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.well-center-my{
  background: #fEfEfE;
}

.well-foot-my{
  /*height:60px;
  width:100%;*/
  padding:5px;
  border-top:1px solid #e8e8e8;
	background: #fdfdfd;

  //border-bottom-left-radius: 4px;
  //border-bottom-right-radius: 4px;

  //-webkit-box-shadow: inset 0 -2px 2px rgba(0, 0, 0, 0.09);
  //-moz-box-shadow: inset 0 -2px 2px rgba(0, 0, 0, 0.09);
  //box-shadow: inset 0 -2px 2px rgba(0, 0, 0, 0.09);

  font-size: 13px;
  color: #8899a6;
}

.well-foot-my02{
	/*height:60px;
	width:100%;*/
	padding:5px;
	padding-left:10px;
	padding-top:12px;
	margin-top:20px;
	border-top:1px solid #e8e8e8;

	font-size: 13px;
	color: #8899a6;
}