// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.text-block {
  min-height: 100px;
  max-height: 200px;
  position:relative;
  font:12px arial;
  //padding:10px;
  //margin:5px;
  overflow: hidden;
}
.text-image-gradient {
  position:absolute;
  left:0;
  bottom:0px;
  width:100%;
  background:url(zatemnenie-texsta.png) repeat-x left bottom;
  height:35px;
  border:none
}
.text-block-full {
  //font-family: 12px "Helvetica Neue",Arial,sans-serif;
  //white-space: pre-wrap;
  word-wrap: break-word;

  //position:relative;
  font:12px Arial;
  p{
    line-height: 1.2;
  }
}
