<div class="btn-group">
  <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Menu<span class="caret"></span></button>
  <ul class="dropdown-menu">

	  <%= mainmenubuild(@main_menu_items) %>

    <!-- <div class="row">
      <div class="menu-block">
        <ul class="nav-list my-sub-menu">
          <li class="nav-header my-gen-menu-name">main menu 06</li>
          <li><a href="#">mm06sm01</a></li>
          <li class="divider my-gen-menu-name"></li>
          <li>Help</li>
        </ul>
      </div>
    </div> -->

  </ul>
</div>