<div class="btn-group">
  <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Menu<span class="caret"></span></button>

  <div class="dropdown-menu">
    <!-- <div class="menu-stack"> -->
      <div class="menu-box">

        <% @main_menu_items.each do |menu| %>
          <div class="menu-block">
            <ul class="my-sub-menu">
              <li class="nav-header my-gen-menu-name"><%= menu.genmenuname %></li>
              <% menu.submenus.each do |smenu| %>
              <li><a href="#"><%= smenu.sname %></a></li>
              <% end %>
            </ul>
          </div>
        <% end %>

      </div>
    <!-- </div> -->
  </div>

</div>