<div class="btn-group"><!-- <div class="btn-group"> -->
  <!-- <button class="btn btn-primary">Menu<span class="caret"></span></button> -->
  <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Menu<span class="caret"></span></button>


  <ul class="dropdown-menu span6">

    <li class="column-menu span3">
      <ul>
        <% @main_menu_items.each_with_index do |menu,n| %>
          <% if n % 2 == 0 %>
            <li class="nav-header my-gen-menu-name"><span><%= menu.genmenuname %></span></li>
            <% menu.submenus.each do |smenu| %>
              <li><%= link_to smenu.sname, smenu %></li>
            <% end %>
          <% end %>
        <% end %>
      </ul>
    </li>

    <li class="column-menu span3">
      <ul>
        <% @main_menu_items.each_with_index do |menu,n| %>
          <% if n % 2 != 0 %>
            <li class="nav-header my-gen-menu-name"><span><%= menu.genmenuname %></span></li>
            <% menu.submenus.each do |smenu| %>
              <li><%= link_to smenu.sname, smenu %></li>
            <% end %>
          <% end %>
        <% end %>
      </ul>
    </li>

  </ul>

</div>