<div class="btn-group">
  <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Menu<span class="caret"></span></button>
  <ul class="dropdown-menu">
    <%# @main_menu_items.each do |item_menu| %>
      <!-- <li> -->
        <%#= link_to item_menu.genmenuname, "#" %>
      <!-- </li> -->
    <%# end %>

			<div class="row">

			  <div class="menu-block">
				  <ul class="nav-list my-sub-menu">
				    <li class="nav-header my-gen-menu-name">Another list header</li>
				    <li><a href="#">Library</a></li>
				    <li><a href="#">Applications</a></li>
				    <li class="nav-header my-gen-menu-name">Another list header</li>
				    <li><a href="#">Profile</a></li>
				    <li><a href="#">Settings</a></li>
				    <li class="divider my-gen-menu-name"></li>
				    <li><%= link_to "Help", help_path %></li>
				  </ul>
				</div>

			  <div class="menu-block">
			    <ul class="nav-list my-sub-menu">
			      <li class="nav-header my-gen-menu-name">Another list header</li>
			      <li><a href="#">Library</a></li>
			      <li><a href="#">Applications</a></li>
			      <li class="nav-header my-gen-menu-name">Another list header</li>
			      <li><a href="#">Profile</a></li>
			      <li><a href="#">Settings</a></li>
			      <li class="divider my-gen-menu-name"></li>
			      <li><%= link_to "Help", help_path %></li>
			    </ul>
			  </div>

			</div>



  </ul>
</div>